.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0B0B0B;
  height: 100%;
  width: 100%;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0B0B0B;
  border: 1px solid #FF9F00;
  padding: 90px;
  border-radius: 50px;
  margin-top: 90px;

}

.modality {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  height: 5rem;
  width: 28.75rem;
  background-color: #0B0B0B;
  border: 1px solid #FF9F00;
  border-radius: 20px;
  margin-top: 25px;

  padding-left: 2rem;
}

.modality:hover {
  cursor: pointer;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}

.modalityName {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
}

.modalityIcon {
  width: 36px;
  height: 36px;
}

.back {
  width: 9.5rem;
  height: 2.5rem;
  border: none;
  background-color: #FF9F00;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 210px;
  margin-top: 30px;

}

.back:hover {
  cursor: pointer;
}
